* {
    box-sizing: border-box;
}

/* a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Fonts */

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf) format("ttf"),
        url(../fonts/OpenSans-Regular.woff) format("woff"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf) format("ttf"),
        url(../fonts/OpenSans-Bold.woff) format("woff"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.header {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(10, 63, 50);
    color: #ffffff;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    z-index: 1;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    position: relative;
    z-index: 3;
}

.logo {
    width: 180px;
    height: 41px;
}

.menu {
    font-size: 13px;
    text-transform: uppercase;
}

.menu__list-item {
    display: inline-block;
    margin: 15px;
}

.menu__list-item--left {
    margin-left: 0;
}

.menu__list-item--right {
    margin-right: 0;
}

.link {
    color: inherit;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
    text-shadow: #ffffff 0 0 1px;
}

.menu__btn {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: none;
    font-size: 28px;
}

.header__content {
    max-width: 680px;
    margin: auto;
    text-align: center;
    padding-top: 126px;
    padding-bottom: 126px;
    position: relative;
    z-index: 3;
}

.header__content-title {
    font-size: 45px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
}

/* --------------------------------------------------- */

/* Trands */

.trands {
    color: #ffffff;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* section-title */

.section-title {
    /* Переиспользовать для .sidebar-title*/
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 16px;
}

.title {
    /* Переиспользовать для .sidebar-title*/
    color: #0f0d0e;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 29.15px;
    box-sizing: border-box;

    text-transform: uppercase;
}

.title::after {
    /* Переиспользовать для .sidebar-title*/
    content: "";
    display: block;
    width: 66px;
    margin: 7px auto 0;
    border-bottom: 3px solid #e1d9bd;
}

/* trands__article */

.trands__articles {
    display: flex;
    gap: calc(1%/3);
}

/* Очень странно задавать здесь изображения фоном, т.к. при изменении контента страницы проще это сделать в HTML */

.trands__article {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(10, 63, 50);
    position: relative;
    z-index: 1;

    display: flex;
    align-items: flex-end;
    width: calc(99%/4);
    min-height: 319px;
    padding: 16px 18px;
    position: relative;
}

.trands__article1 {
    background-image: url("../img/trend1.jpg");
}

.trands__article2 {
    background-image: url("../img/trend2.jpg");
}

.trands__article3 {
    background-image: url("../img/trend3.jpg");
}

.trands__article4 {
    background-image: url("../img/trend4.jpg");
}

.trands__article::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}


.trands__article-content {
    border: 3px solid #9c894e;
    padding: 30px;
    z-index: 3;
}

/* tags-list */

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tags-list__tag {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #9c894e;
}

.tags-list__tag:hover {
    text-decoration: underline;
    text-shadow: #9c894e 0 0 1px;
}

/* без этого не применяется размер 20px к заголовкам h3 */
h3 {
    font-size: 20px;
}

.article-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.trands__article-title:hover {
    text-shadow: #ffffff 0 0 1px;
}


/* --------------------------------------------------- */

/* main content */

.main-content {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    color: #0f0d0e;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* main */

.posts {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.posts__article {
    display: flex;
}

.post__article-img {
    max-width: 381px;
    max-height: 294px;
}

.post__article-content {
    max-width: 381px;
    margin-left: 30px;
}

.post__article-content .tags-list .tags-list__tag {
    line-height: 15px;
    margin-bottom: 10px;
}

.post__article-title:hover {
    text-shadow: #0f0d0e 0 0 0.5px;
}

.post__info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 35px;
    gap: 15px;
}

.post__date {
    font-size: 12px;
    line-height: 40px;
    font-weight: normal;
    color: #9b9b9b;
}

.post__author {
    font-size: 12px;
    line-height: 40px;
}

.post__preview {
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
}


/* -------------------------------------------------- */

/* aside */

.sidebar {
    max-width: 270px;
}

.sidebar-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar-title--top {
    margin-top: 0;
}


/* Посты */

.new-posts {
    width: 100%;
}

.new-posts__article-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 60px;
}

.new-posts__item {
    display: flex;
}

.new-post__date {
    line-height: 10px;
}

/* без этого не применяется размер 14px к заголовкам h5 */
h5 {
    font-size: 14px;
}

.new-post__article-title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.new-post__article-img {
    margin-right: 20px;
}


/* Поиск */

.form__wrapper {
    display: flex;
}

.search-form {
    height: 49px;
    position: relative;
}

.input {
    border: none;
    outline: none;
    background-color: #f4f7f6;
    height: 49px;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
}

.search-form__input {
    padding-right: 67px;
}

.input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #ebe7d7;
}

.button {
    border: none;
    outline: none;
    background-color: #b59f5b;
    vertical-align: middle;
    text-align: center;
}

.search-form__button {
    width: 49px;
    height: 49px;
    position: absolute;
    right: 0;
}

.search-form__button-svg {
    width: 18px;
    height: 18px;
    fill: #fbf9f5;
}

.search-form__button:hover {
    cursor: pointer;
}

.search-form__button:hover .search-form__button-svg {
    fill: #dfdcd5;
}


/* Рассылка */

.subscription {
    width: 100%;
}

.subscription-form {
    flex-direction: column;
    gap: 18px;
}

.subscription-form__input {
    box-sizing: border-box;
}

.subscription-form__button {
    width: 100%;
    height: 49px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid transparent;
}

.subscription-form__button:hover {
    cursor: pointer;
    border-top: 1px solid #e6dfc8;
}


/* Теги */

.tags__item {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    padding: 7px 13px;
    margin: 0 6px 6px 0;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: inherit;
}

.tags__item:hover {
    text-decoration: none;
    text-shadow: #0f0d0e 0 0 1px;
}


/* Темы */

.topics__topics-list {
    width: 100%;
    list-style-type: none;
}

.topics__topic {
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    line-height: 42px;
}

.topics__topic-count {
    vertical-align: super;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
    padding-left: 3px;
}

.topics__topic-link:hover {
    text-decoration: none;
    text-shadow: #0f0d0e 0 0 1px;
}

.topics__topic-link:hover .topics__topic-count{
    text-shadow: none;
}



/* ------------------------------------------------ */

/* products */

.products {
    color: #0f0d0e;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.products__products-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.products__item-wrapper{
    max-width: 348px;
    position: relative;
    display: flex;
}

.products__item {
    max-width: 348px;
    box-sizing: border-box;
    padding: 0 24px 28px;
    display: flex;
    flex-direction: column;
}

.products__item-wrapper::before {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: calc(100% - 170px);
    box-sizing: border-box;
    border: 3px solid #d3c59d;
}

.products__img {
    max-width: 100%;
}

.products__item-content {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.products__item-preview:hover {
    text-decoration: none;
    text-shadow: #0f0d0e 0 0 1px;
}

.products__go-to {
    color: #b59f5b;
}

.products__item-preview:hover .products__go-to {
    text-decoration: underline;
    text-shadow: #b59f5b 0 0 1px;
}

.products__item-buy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
}

.products__price-before {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
}

.products__price-before .icon-rouble::before{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.products__price-after {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
}

.products__price-after .icon-rouble::before{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}


.products__btn {
    width: 50%;
    height: 49px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    border-top: 1px solid #e6dfc8;
    box-sizing: border-box;
}

.products__btn:hover {
    cursor: pointer;
    border-top: 1px solid #b9b29b;
}

/* ---------------------------------------------- */

/* footer */

.footer{
    color: #999999;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 40px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #f4f7f6;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacts__svg-item {
    width: 20px;
    height: 20px;
}

.footer__copy {
    text-align: center;
    background-color: #ffffff;
    padding-top: 46px;
    padding-bottom: 17px;
}